@import '../../../scss/mixins';
@import '../../../scss/variables';

.span{
    font-size:10px;
    margin-left: 5px
}

.questionCard{
    width:995px;
    margin-top:30px;
}

.top{
    margin-top:10px;
}

.border{
    @include border();
}

.text{
    margin-top:18px;
    font-size:22px;
}

.desc{
    margin:10px 0px 20px 0px;
    font-size:20px;
}

.title{
    font-size:25px;
}

.newMsg{
    margin-top:15px;
    opacity:0.54;
}

.user{
    font-size:15px;
    font-family: cursive;
}

.fabBtn{
    margin-top:35px;
}

.count{
    margin-top: 3px;
}

.rate{
    margin-top:-18px;
    margin-left: 15px
}

.icons{
    margin-top:18px;
}

.icon{
    cursor: pointer;
}

.msg{
    font-size:20px;
}

.msgNew{
    margin-left: 10px
}

.textNew{
    margin: 30px 0px 0px 50px;
    width:800px;
    @include border();
}

.scroll{
    max-height: 327px;
    overflow-y:auto;
    overflow-x:hidden !important;
}

[contenteditable=true]:empty:before{
        content: attr(data-text)
}

.cursor{
    @include cursor();
}

.namecolor{
    color: darkgoldenrod;
}