@import '../../../scss/mixins';

[contentEditable=true]:empty:before{
    content: attr(data-text)
}
.input{
    @include border();
    color: grey;
}
.qsize{
    font-size: 25px;
    color: black;
}
.usize{
    font-size: 10px;
    color: gray;
}
.qbutton{
    margin-top:20px;
}
.askq{
    color: gray;
}
.image{
    width: 5px;
    height: 5px;
}
.star{
    margin-top: -14px;
    margin-left: 18px;
}
.count{
    font-size: 18px;
}