<!------------------------- Notes starts ---------------------------->

<app-notes-create (messageEvent)="receiveMessage($event)"></app-notes-create>

<!------------------------- Pinned cards starts ---------------------------->
<div class="spacing" *ngIf="notes1.length != 0">
<div class="pinnedCards" >PINNED</div>
<app-notes-collection [array] = "notes1" (notifyParent)="receiveMessage($event)"></app-notes-collection>  
<!------------------------- Pinned cards ends ---------------------------->

<!------------------------- Other cards starts ---------------------------->
<div class="otherCards">OTHERS</div>
<app-notes-collection [array] = "notes" (notifyParent)="receiveMessage($event)" 
(noteParent)="receiveMessage($event)" (archiveParent)="receiveMessage($event)"></app-notes-collection>
</div>
<!------------------------- Other cards ends ---------------------------->

<div *ngIf="notes1.length == 0">
    <app-notes-collection [array] = "notes1" (notifyParent)="receiveMessage($event)"></app-notes-collection>  
    <app-notes-collection [array] = "notes"(notifyParent)="receiveMessage($event)" 
    (noteParent)="receiveMessage($event)" (archiveParent)="receiveMessage($event)"></app-notes-collection>
</div>

<!------------------------- Notes ends ---------------------------->