<div fxFlex>
<div fxLayout="column wrap">
  
<mat-toolbar class="toolbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    aria-label="Toggle sidenav-content"

    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="space">
  <span>Fundoo</span>
</div>
  <div class="space">
  <i class="material-icons">
      search
      </i>
    </div>
  <div class="right">
      <form id="search">
         
        <input class="search"  #search type="search" placeholder="Search" [ngClass]="{'filled':filled}" 
             (click)="filled=true" (blur)="filled=search.value?true:false"> 
             
      </form>
    </div>

    

   
    
<div class="space">
<i class="material-icons">
    refresh
    </i>
  </div>
  <div class="space">
    <i class="material-icons">
        view_stream
        </i>
      </div>
      <div class="space">
        <i class="material-icons">
            notifications
            </i>
          </div>
          
            

          
             <div class="space">
             <button mat-mini-fab [matMenuTriggerFor]="appMenu" style="background-color:white;color:black">P</button>
        
          <mat-menu  #appMenu="matMenu" [overlapTrigger]="false">
              <!-- <ng-template matMenuContent let-name="name"> -->
                <button mat-menu-item routerLink="/signup">Add account</button>
                <button mat-menu-item routerLink="/login">Log out </button>
              <!-- </ng-template> -->
            </mat-menu>
          </div>
</mat-toolbar>


<mat-sidenav-container class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar class="toolbar">Menu</mat-toolbar> -->
    <mat-nav-list>
     
      <a mat-list-item routerLink="/homepage/notes"><i class="material-icons">
          book
          </i>Notes</a>
      <a mat-list-item routerLink="/homepage/reminders"><i class="material-icons">
          touch_app
          </i>Reminders</a>
          <hr>
      <a mat-list-item routerLink="/homepage/trash"><i class="material-icons">
          delete
          </i>Trash</a>
      <a mat-list-item routerLink="/homepage/archive"><i class="material-icons">
          archive
          </i>Archive</a>
          <hr>
      <a mat-list-item ><i class="material-icons">
          settings
          </i>Settings</a>
          <hr>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
</div>
</div>


