@import '../../../scss/mixins';
@import '../../../scss/variables';

 .sidenav-container {
  @include overflow();
  height: 100%;
  width: 100%;
  z-index:4;
}

.sidenav {
  width: 200px;
 margin-top: 65px;
 box-shadow: none;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.tool-bar {
  background-color: $typekit-yellow;
}

.search-box {
  @include overflow();
  height: 40px;  
  background-color: $typekit-white;
  border-radius: 5px;
}

.search-box input {
  @include overflow();
  @include border();
  font-size: 16px;
}

.child-links {
  margin-left:20px;
  font-size: 12px;
  @include overflowhidden();
}

.drop-down {
  background-color:$typekit-white;
  color:$typekit-black;
}

.drop-down-button {
  width:700px
}

.icons {
  opacity: 0.5;
  &:hover {
    opacity: 1.0;
  }
}

.profilebutton{
  width:100px; 
  height:100px; 
  border: none;
 border-radius: 50%;
 background:$typekit-white;
 
}
.profilebutton2{
 @include widthheight();
 border-radius: 50%;
 background: transparent;
 @include border();
}

.insideIconButton{
  @include widthheight();
}

.logout{
  float: right;
}
.change{
  margin-top: 63px;
}
.change1{
  margin-top: 42px;
}
.new{
  @include overflowhidden();
  width:30px;
}