<!-------------------------------- Login starts -------------------------------->

<div fxLayout='row' fxLayoutAlign="center center" fxLayout.xs="column" class="container" fxLayoutGap="20px">
  <div  class="two">
    <mat-card>
      <my-slide-panel [activePane]="isLeftVisible ? 'right' : 'left'">
        <div leftPane>
          <div>
            <span class="classf">F</span>
            <span class="classu">u</span>
            <span class="classn">n</span>
            <span class="classd">d</span>
            <span class="classo">o</span>
            <span class="classo1">o</span>
            <div class="example-container">
              <mat-card-title>Sign in</mat-card-title>
              <mat-card-subtitle>Use your Fundoo Account</mat-card-subtitle>
              <mat-form-field>
                <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="body.email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
                <nav>
                  <a routerLink="/signup">Create account</a>
                </nav>
                <button mat-flat-button (hovered)="register()" (click)="register()">Next</button>
              </div>
            </div>
          </div>
        </div>

        <div rightPane>
          <div>
            <span class="classf">F</span>
            <span class="classu">u</span>
            <span class="classn">n</span>
            <span class="classd">d</span>
            <span class="classo">o</span>
            <span class="classo1">o</span>
            <div class="example-container">
              <mat-card-title>Sign in</mat-card-title>
              <mat-card-subtitle>Use your Fundoo Account</mat-card-subtitle>
              <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="body.password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
                <nav>
                  <a routerLink="/forgot-password">Forgot Password</a>
                </nav>
                <button mat-flat-button (hovered)="login()" (click)="login()">Next</button>
              </div>
            </div>
          </div>
        </div>
      </my-slide-panel>
    </mat-card>
  </div>



  <mat-card style="width:500px">
  <div fxLayout="row" fxLayoutGap="10" fxLayout="row wrap">
    <div *ngFor="let card of cards">
      <mat-card (click)=" respond(card)" [ngClass]="card.id==productId ? 'selected' : 'notselected'" class="card1">
        <div>

          <mat-card fxLayout="row wrap" fxLayoutAlign="start start" class="innercard">
            <div fxLayout="column" class="font">
              <div>$ {{card.price}} per</div>
              <div> Month</div>
              <div class="name">{{card.name | titlecase}}</div>
            </div>

            <div>
              <li class="list">Unlimited wall space</li>
              <li class="list">Nice Interface</li>
              <li class="list">$ {{card.price}}/month</li>
              <li class="list">{{card.description}}</li>
            </div>
          </mat-card>

        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start start">
          <div class="cartbutton" (click)="productcart(card)" *ngIf="productId==card.id">
            SELECTED</div>
            <div class="cartbutton" (click)="productcart(card)" *ngIf="productId!=card.id">
                ADD TO CART</div>
        </div>
      </mat-card>
    </div>
  </div>
</mat-card>



</div>

<!-------------------------------- Login ends -------------------------------->