@import '../../../scss/mixins';
@import '../../../scss/variables';

 .container {
    height: 90vh;
}
.example-container > * {
  width: 100%;
} 
.classf{
  color: $typekit-blue;
  font-size: 40px; 
 }
 .classu{
   color: $typekit-red;
   @include fontsize();
 }
 .classn{
   color: $typekit-yellow;
   @include fontsize();
 }
 .classd{
   color: $typekit-blue;
   @include fontsize();
 }
 .classo{
   color: $typekit-green;
   @include fontsize();
 }
 .classo1{
   color: $typekit-red;
   @include fontsize();
 }
 .mat-card{
  width: 400px;
}



 