<div fxLayout="column">
  <div class="division">
    <div class="fundoo" fxFlex=10>fundooNotes</div>
  </div>
  <div class="division1">
    <div class="text">Which fundooNotes Service Package do you want ? </div>
  </div>
  <div fxLayout="row" class="division2">
    <div fxFlex=30></div>

    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="50px" class="cardDiv">
      
      <!-------------------------- Cards starts------------------------>
      <div *ngFor="let card of cards">
        <mat-card (click)=" respond(card)" [ngClass]="card.select ? 'selected' : 'notselected'" class="card1">
          <div>
            
            <mat-card fxLayout="row wrap" fxLayoutAlign="start start" class="innercard">
              <div fxLayout="column" class="font">
                <div>$ {{card.price}} per</div>
                <div> Month</div>
                <div class="name">{{card.name | titlecase}}</div>
              </div>

              <div>
                <li class="list">Unlimited wall space</li>
                <li class="list">Nice Interface</li>
                <li class="list">$ {{card.price}}/month</li>
                <li class="list">{{card.description}}</li>
              </div>
            </mat-card>
            
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start start">
            <div class="cartbutton" (click)="productcart(card)">
              ADD TO CART</div>
          </div>
        </mat-card>
      </div>
      <!------------------------Cards ends-------------------------->

    </div>
    <div fxFlex=30></div>
  </div>
  <div class="division3"></div>
</div>