<!---------------- Archive Icon starts--------------------->

<mat-icon class="archiveCursor" matTooltip="Archive" *ngIf="archive.isArchived == false" aria-label="archive" (click)="archiveNotes()">archive</mat-icon>

<!---------------- Archive Icon ends--------------------->


<!---------------- UnArchive Icon starts--------------------->

<mat-icon class="archiveCursor" matTooltip="UnArchive" *ngIf="archive.isArchived == true" aria-label="archive" (click)="unArchiveNotes()">unarchive</mat-icon>

<!---------------- UnArchive Icon ends--------------------->