@import '../../../scss/mixins';
@import '../../../scss/variables';

.container {
   @include container();
}

.classf{
  color: $typekit-blue;
  @include fontsizeF(); 
}

.classu{
   color: $typekit-red;
   @include fontsize();
}

.classn{
   color: $typekit-yellow;
   @include fontsize();
}

.classd{
   color: $typekit-blue;
   @include fontsize();
}

.classo{
   color: $typekit-green;
   @include fontsize();
}

.classo1{
   color: $typekit-red;
   @include fontsize();
}
 
.emailwidth{
   @include emailwidth();
}

.mat-card{
   @include cardswidth();
    border-color: $typekit-black;
}

.button-row{
  padding-left: 250px
}

.card{
  margin:2em;
}