<div fxLayout='row' fxLayoutAlign="center center" fxLayout.xs="column" class="container">
  <form>
    <mat-card style="margin:2em;" fxLayout='column' fxLayoutAlign="center">
      <div fxLayoutAlign="center">
        <span class="classf">F</span>
        <span class="classu">u</span>
        <span class="classn">n</span>
        <span class="classd">d</span>
        <span class="classo">o</span>
        <span class="classo1">o</span>
      </div>
      <mat-card-title fxLayoutAlign="center">Reset password</mat-card-title>
      <div>
        <mat-form-field class="emailwidth">
          <input matInput placeholder="Enter your new password" 
          [type]="hide ? 'password' : 'text'" [(ngModel)]="body.newPassword"
          [formControl]="password" minlength="5">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
        <button mat-flat-button (click)="reset()">Next</button>
      </div>
    </mat-card>
  </form>
</div>