<div class="popUpCard" ngStyle.xs="width:100%" ngStyle.sm="width:100%" ngStyle.md="width:100%" fxLayout="column">
  
  <div fxLayout="row" class="cardHeader">
    <div fxFlex>{{data.name | titlecase}} Pack Details</div>
    <div fxFlex=24>${{data.price}}/month</div>
  </div>

  <div fxLayout="row" class="cardContent">
    <div fxFlex=4></div>

    <mat-tab-group fxFlex>
      <mat-tab class="content" label="First">
        main.ts is the entry point of your application,
        compiles the application with just-in-time and bootstrap the application.
      </mat-tab>
      <mat-tab class="content" label="Second">
        main.ts is the entry point of your application,
        compiles the application with just-in-time and bootstrap the application.
      </mat-tab>
      <mat-tab class="content" label="Third">
        main.ts is the entry point of your application,
        compiles the application with just-in-time and bootstrap the application.
      </mat-tab>
    </mat-tab-group>

    <div fxFlex=4></div>
  </div>

  <div fxLayout="row" class="cardFooter">
    <div fxFlex=4></div>
    <div fxFlex=70>
      <button class="btn" mat-raised-button (click)="dialogClose()">Remove</button>
    </div>
    <div fxFlex routerLink="/signup">
      <button class="btn" mat-raised-button (click)="dialogClose()">Proceed to Checkout</button>
    </div>
    <div fxFlex=4></div>
  </div>

</div>