 <!-- <mat-icon style="cursor: pointer;" matTooltip="Remind me"  aria-label="remind me"
[matMenuTriggerFor]="appMenu">touch_app</mat-icon>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <div style="padding:10px" fxLayout="column">
        <span (click)="getReminder()">Reminder:</span>
            <button mat-button (click)="todayReminder()">Later today</button>
        <button mat-button (click)="tomorrowReminder()">Tomorrow</button>
        <button mat-button (click)="weekReminder()">Next week</button>
        <button mat-button [matMenuTriggerFor]="app1Menu" (click)="$event.stopPropagation();"> <mat-icon>query_builder</mat-icon>Pick date & time</button>

        <mat-menu #app1Menu="matMenu" [overlapTrigger]="false">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-menu>
    </div>
</mat-menu>  -->





      <mat-icon style="cursor: pointer;" matTooltip="Remind me"  aria-label="remind me"
      [matMenuTriggerFor]="menu">touch_app</mat-icon>

      
      <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
        <div *ngIf="show">
            <div>
                Reminder:
            </div>
      
            <button mat-menu-item (click)="todayReminder()">
                <div fxFlex="20">Later today</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 PM</span></div>
            </button>
      
            <button mat-menu-item (click)="tomorrowReminder()">
                <div fxFlex="20">Tomorrow</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 AM</span></div>
            </button>
      
            <button mat-menu-item (click)="weekReminder()">
                <div fxFlex="20">Next week</div>
                <div fxFlex="60"></div>
                <div fxFlex="20"><span>8.00 AM</span></div>
            </button>
      
            <button mat-menu-item (click)="$event.stopPropagation(); datePickReminder()">
                <div>
                    <mat-icon>query_builder</mat-icon>Pick Date and Time
                </div>
      
            </button>
        </div>
      
        <div *ngIf="!show">
            <button mat-icon-button (click)="$event.stopPropagation(); backPressDatepicker()">
                <mat-icon>keyboard_backspace</mat-icon>Pick Date and Time
            </button>
            <hr>
            <input (click)="$event.stopPropagation()" matInput [matDatepicker]="picker" 
                    placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      
            <input placeholder="Choose time" (click)="$event.stopPropagation()" mat-input 
                    [matMenuTriggerFor]="menu">
            <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <div fxFlex="20">Morning</div>
                    <div fxFlex="60"></div>
                    <div fxFlex="20"><span>8.00 AM</span></div>
                </button>
      
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <div fxFlex="20">Night</div>
                    <div fxFlex="60"></div>
                    <div fxFlex="20"><span>9.00 PM</span></div>
                </button>
            </mat-menu>
      
            <div><button mat-button>Save</button></div>
            
        </div>
      
      </mat-menu>
