<!---------------------------Change Color Icon starts ----------------------------->

<mat-icon class="cursor" matTooltip="Change color" aria-label="change color" 
    [matMenuTriggerFor]="appMenu">palette </mat-icon>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent >
      <div class="buttons">
          <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" 
              *ngFor='let colors of colorArray'>
                  <div *ngFor='let color of colors'>
                      <button class="colorButton" [ngStyle]="{'background-color': color.color }" 
                          (click)='changeColor(color.color)' matTooltip="{{color.name}}"
                              mat-mini-fab></button>
                  </div>
          </div>
      </div>
      </ng-template>
</mat-menu>

<!---------------------------Change Color Icon ends ----------------------------->
