.b1color{
    background-color:rgb(255,255,255);
    height: 26px;
    width: 26px;
}
.b2color{
    background-color: rgb(242, 139, 130);
    ;
    height: 26px;
    width: 26px;
}
.b3color{
    background-color: rgb(251, 188, 4);
    height: 26px;
    width: 26px;
}
.b4color{
    background-color: rgb(255, 244, 117);
    height: 26px;
    width: 26px;
}
.b5color{
    background-color: rgb(204, 255, 144);
    height: 26px;
    width: 26px;
}
.b6color{
    background-color: rgb(167, 255, 235);
    height: 26px;
    width: 26px;
}
.b7color{
    background-color: rgb(203, 240, 248);
    height: 26px;
    width: 26px;
}
.b8color{
    background-color: rgb(174, 203, 250);
    height: 26px;
    width: 26px;
}
.b9color{
    background-color: rgb(215, 174, 251);
    height: 26px;
    width: 26px;
}
.b10color{
    background-color: rgb(253, 207, 232);
    height: 26px;
    width: 26px;
}
.b11color{
    background-color: rgb(230, 201, 168);
    height: 26px;
    width: 26px;
}
.b12color{
    background-color: rgb(232, 234, 237);
    height: 26px;
    width: 26px;
}