<mat-toolbar fxLayout="row" color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <div fxFlex="25"></div>
  </button>
  <div class="title"><span fxFlex="10" ngStyle.xs="width:10%" ngStyle.sm="width:10%" ngStyle.md="width:10%">fundooNotes
    </span>
  </div>
  <div fxFlex>

  </div>

  <!---------------------refresh icon starts------------------------->
  <button mat-icon-button>
    <mat-icon matTooltip="Refresh" (click)="refresh()" fxFlex="40px">refresh</mat-icon>
  </button>
  <!---------------------refresh icon ends------------------------->

  <!---------------------View-List or Grid------------- -->
  <mat-icon fx.show="true" fxShow.xs="false" fxFlex="40px" *ngIf="value==0" (click)="listView()" matTooltip="View">
    view_stream
  </mat-icon>
  <mat-icon fx.show="true" fxShow.xs="false" fxFlex="40px" *ngIf="value==1" (click)="gridView()" matTooltip="View">
    view_module </mat-icon>
  <!---------------------cart------------------------->
  <mat-icon fxFlex="40px" class="cart" matTooltip="cart" (click)="shoppingCart()">shopping_cart</mat-icon>

</mat-toolbar>

<div fxLayout="row">
  <div fxFlex=5 class="first">
  </div>
  <div fxFlex fxLayout="column" class="second">
    <div class="one">
      <div class="first1" fxLayout="row" fxLayout.xs="column">
        <div class="fundoo">fundooNotes</div>
        <div fxFlex>
          <mat-horizontal-stepper labelPosition="bottom" #stepper>
            <mat-step>
              <ng-template matStepLabel>SIGN IN</ng-template>
              <!-- <mat-form-field>
                  <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
              </mat-form-field>
              <div>
                  <button mat-button matStepperNext>Next</button>
              </div> -->
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>PLACE ORDER</ng-template>
              <!-- <mat-form-field>
                  <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field>
              <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
              </div> -->
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>COMPLETE PAYMENT</ng-template>
              <!-- You are now done.
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
          </div> -->
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>

    <div class="two">
      <div fxLayout="row" fxLayout.xs="column" fxLayout.md="column" fxLayout.sm="column">
        <div fxFlex=75 fxLayout="column">
          <div class="shop" fxFlex=20>Shopping Cart</div>
          <div fxLayoutGap="15px" fxLayout="row">
            <div fxFlex=12></div>
            <div fxFlex=65></div>
            <div fxFlex=12 fxHide.xs=true fxHide.sm=true fxHide.md=true>Price</div>
            <div fxFlex=10 fxHide.xs=true fxHide.sm=true fxHide.md=true>Validity</div>
          </div>

          <div style="width:200px">
            <hr style="width:950px">
          </div>
          <!-- --------------------------------card1--------------------------------- -->
          <div class="card">
            <div fxFlex=100>
              <div fxLayoutGap="18px" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
                <div fxFlex=12 class="col1">
                  <mat-card class="smallCard">
                    <div>$ {{price}} per Month</div>
                    <div>{{name | titlecase}}</div>
                  </mat-card>
                </div>
                <div fxFlex=80 class="col2">
                  <div fxLayout="column">
                    <div class="advance">{{name | titlecase}} Pack Details</div>
                    <div fxLayout="row" class="first2">
                      <div>
                        <li class="list">Unlimited wall space</li>
                        <li class="list">Nice Interface</li>

                      </div>
                      <div>
                        <li class="list">$ {{price}}/month</li>
                        <li class="list">{{desc}}</li>
                      </div>

                    </div>
                  </div>
                </div>
                <div fxFlex=12 class="col3">
                  <div fxShow.xs=true fxShow.sm=true fxShow.md=true fxShow=false>
                    Price : <span class="price">$ {{price}}</span> </div>
                  <div fxHide.xs=true fxHide.sm=true fxHide.md=true class="price">$ {{price}} </div>
                </div>
                <div fxFlex=10 class="col4">
                  <span fxShow.xs=true fxShow.sm=true fxShow.md=true fxShow=false>Validity : </span>
                  Per Month
                </div>

              </div>

            </div>
          </div>
          <div style="width:200px">
            <hr style="width:950px;;margin-top:20px">
          </div>

          <div fxLayout="row">
            <div fxFlex=82></div>
            <div fxFlex>Subtotal(item): <span class="color">$ {{price}}</span></div>
          </div>
        </div>
        <div>
          <mat-card class="sub">
            <div fxLayout="column">
              <div fxFlex>Subtotal (item): <span class="color">$ {{price}}</span></div>
              <div style="height:25px"></div>
              <div> <button class="proceed" mat-raised-button>Proceed To Checkout</button></div>
            </div>
          </mat-card>
        </div>

      </div>
    </div>

    <div class="three">
    </div>
  </div>
  <div fxFlex=5 class="first"></div>
</div>