.width
{
    width:60%;
    
}
.fullWidth
{
    width: 100%;
}
.text
{
    border:none;
    outline: none;
    word-wrap: break-word;
    background:transparent;
}
[contentEditable=true]:empty:before{
    content: attr(data-text)
}

.icons{
    margin-left: 10%;
}
.cards{
    border: none;
    outline: none
}

.inputNote{
    border: none;
    outline: none;
}


