<div fxLayout='row' style="margin-top:30px">
<div fxFlex=10 fxFlex.xs=0></div>
<div fxFlex  fxLayoutAlign="center" fxFlex.xs=100>

  <!-- ********************MatCard1****************** -->

  <mat-card *ngIf="show" class="example-card" 
    style="width:500px; padding: 0; border-radius: 10px">
    <mat-card-content fxLayout='row' fxLayout.xs='row' style="margin-left:15px">
      <div (click)="open()" fxFlex style="margin-top:12px">
        Take a note...
      </div>

      <div fxFlex=40 fxLayout='row' fxLayout.xs='row' fxLayoutGap.xs="10px" 
        fxLayoutAlign="end" fxLayoutAlign.xs="center">
        <button fxFlex=20 mat-icon-button matTooltip="New list" 
        (click)="checkListButton()"><mat-icon>list</mat-icon></button>
        <button fxFlex=20 mat-icon-button matTooltip="New note with image"><mat-icon>
        image</mat-icon></button>
        <button fxFlex=20 mat-icon-button matTooltip="Drawing"><mat-icon>brush
        </mat-icon></button>
      </div>

    </mat-card-content>

  </mat-card>

  <!-- ********************MatCard2****************** -->

  <mat-card  *ngIf="!show" class="example-card" 
    [ngStyle]="{'background-color':parentColor}" 
    style=" width:500px;padding: 5; border-radius: 10px">

    <mat-card-content>
      <div fxLayout='row' fxLayout.xs='row'>
        <div fxFlex=98 contenteditable="true" data-text="Title" class="cards" id="titleId" 
        style="margin-top:20px"> </div>

       <div style="float:right" matTooltip="Pin note"><img src="../../../assets/images/pin.svg">
      </div>
      
      </div>
     

          <div *ngIf="checkList == true">
              <div class="check" *ngFor="let data of dataarray" fxLayout="row">
                  <mat-checkbox [(ngmodel)]=data.isChecked (click)="isChecked=!isChecked" 
                  fxFlex="5%"></mat-checkbox>

                  <input fxFlex="90" *ngIf="checkList == true" class="inputNote1" 
                   [(ngModel)]=data.data >

                  <mat-icon fxFlex="4%" (click)=ondelete(data) 
                  matTooltip="delete">cancel</mat-icon>
              </div>
              <mat-divider></mat-divider>
              
              <div class="check" fxLayout="row" autofocus>
                  <mat-icon *ngIf="!adding"  fxFlex="5%">add</mat-icon>

                  <mat-checkbox  [(ngmodel)]=addCheck

                  *ngIf="adding" (click)="isChecked=!isChecked" 

                  fxFlex="5%"></mat-checkbox>
                  <input id="note" [(ngModel)]=data fxFlex="95%" class="inputNote" 
                   placeholder="list item"
                      (keydown.enter)="enter($event)" 
                      (keydown.backspace)="ondelete()" (click) ="checkList == true">
              </div>
              <mat-divider></mat-divider>
          </div>
    
          <div style="margin-top:20px" *ngIf="checkList == false" contenteditable="true" 
          data-text="Take a note..." class="cards" id="takeANoteId"></div>
  
     
    </mat-card-content>

    <div fxLayout="row wrap"  fxlayoutAlign="start start" fxLayoutGap="8px" >

      <div *ngFor="let reminder of reminderIcon ">
        <mat-chip-list selected>

          <div *ngIf='(todayDate | date:shortDate) == (reminder | date:shortDate )'>
          <mat-chip style="margin-top:15px">
           Today, {{reminder |date:'shortTime'}}
          <mat-icon  matChipRemove (click)="delete()">cancel</mat-icon>
          </mat-chip>
        </div>

          <div *ngIf='(tomorrowDate | date:shortDate) == (reminder | date:shortDate )'>
              <mat-chip style="margin-top:15px">
                  tomorrow, {{reminder |date:'shortTime'}}
              <mat-icon  matChipRemove (click)="delete()">cancel</mat-icon>
              </mat-chip>
            </div>

            <div *ngIf='(todayDate | date:shortDate) !==(reminder | date:shortDate ) && 
            (tomorrowDate | date:shortDate) !== (reminder | date:shortDate )'>
                <mat-chip style="margin-top:15px">
                {{reminder |date:'medium'}}
                <mat-icon  matChipRemove (click)="delete()">cancel</mat-icon>
                </mat-chip>
              </div>
    
        </mat-chip-list>
      </div>
      
      </div>

          <!-- **************adding and Removeing labels************** -->

    <div fxLayout="row wrap"  fxlayoutAlign="start start" fxLayoutGap="8px" >
        <div *ngFor="let label of array2 ">
          <mat-chip-list selected>
            <mat-chip style="margin-top:15px"   >
              {{label}}
            <mat-icon  matChipRemove (click)="deleteMsg(label)">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        </div>

          <!-- ********************MatCardActions****************** -->

    <mat-card-actions>
      <div fxLayout='row' fxLayout.xs='row' fxLayoutGap="space-between">
        <div fxFlex=9>
          <app-remindme-icon [noteDetails]="id" (notesCreateReminderEvent)="reminderIconParent($event)"></app-remindme-icon>
        </div>
        <div fxFlex=9>
          <app-collaborator-icon></app-collaborator-icon>
        </div>
        <div fxFlex=9>
          <app-change-color-icon (ParentNoteColor)="changeParentColor($event)">
          </app-change-color-icon>
        </div>
        <div fxFlex=9>
          <app-add-image-icon></app-add-image-icon>
        </div>
        <div fxFlex=9>
          <app-archive-icon [archive]='archive'></app-archive-icon>
        </div>
        <div fxFlex=9>
            <mat-icon mat-icon-button style="margin-bottom:-10px;user-select: none;" 
            [matMenuTriggerFor]="menu"  matTooltip="More">more_vert</mat-icon>&nbsp;
            <mat-menu  style="padding-top:30px;"class="menu" #menu="matMenu" 
              [overlapTrigger]="false">
                
                  <button mat-menu-item  (click)="getLabels()" [matMenuTriggerFor]="addlabel">
                    <span>Add label</span></button>
                    <mat-menu [overlapTrigger]="false" (click)="$event.stopPropagation();" 
                     #addlabel="matMenu"><div class="title">Label note</div>
                      <br>
                        <div fxLayout="row" (click)="$event.stopPropagation();">
                         
                         <input  class="inputTitle" [(ngModel)]="query"
                          placeholder="Enter label name">
                         <mat-icon fxFlex="30" (click)="searchState()">search</mat-icon>
                        </div>
                      <br>
                      <div *ngFor="let label of notes | LockFilter: query">
                        
                        <mat-checkbox (click)="$event.stopPropagation();" 
                        (click)="clickFunc(label)" class="example-margin">{{label.label}}
                        </mat-checkbox>
                      </div>
                  </mat-menu>
             </mat-menu>

        </div>

        <div fxFlex fxLayoutAlign="end">

          <button mat-button (click)="close(); createNotes()">Close</button>
        </div>
      </div>
    </mat-card-actions>

  </mat-card>

</div>
<div fxFlex=10 fxFlex.xs=0></div>

</div>
