
[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: grey;
    display: inline-block;
}

.edit 
{
    border: none;
    border-color: transparent;
    outline: none;
    // word-wrap: break-word;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden !important;
    cursor:default;
}
.button
{
    float : right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.icon
{
    cursor: pointer;
}
.val
{
    margin-top: 20px;
    cursor: pointer;
}
.name 
{
    text-overflow: ellipsis;
    overflow: hidden !important;
    margin-left: 5px;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width:50px!important;
    min-height: 20px;
  
}

.label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden !important;
}
.create
{
    float: right;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
display: none;
}
.lock:hover .icon-lock {
display: inline;
}