
[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: grey;
    display: inline-block;
}

.edit 
{
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
   
    cursor:default;
}
.button
{
    float : right;
    margin-bottom: 20px;
    margin-top: 10px;
}
.icon
{
    cursor: pointer;
}
.val
{
    margin-top: 20px;
    cursor: pointer;
}
.name 
{
    margin-left: 5px;
    border: none;
    border-color: transparent;
    outline: none;
    word-wrap: break-word;
    width: 100%;
    min-height: 20px;
}
.create
{
    float: right;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
display: none;
}
.lock:hover .icon-lock {
display: inline;
}