@import '../../../scss/mixins';
@import '../../../scss/variables';

[contenteditable]:empty:before {
    content: attr(data-placeholder);
    color: $typekit-grey;
    display: inline-block;
}

.edit 
{
    @include border();
    border-color: transparent;
    @include overflowhidden();
    cursor:default;
}
.button
{
    float : right;
    margin-top: 10px;
}
.icon
{
    @include cursor();
}
.val
{
    margin-top: 20px;
    @include cursor();
}
.name 
{
    text-overflow: ellipsis;
    overflow: hidden !important;
    margin-left: 5px;
    border-color: transparent;
    word-wrap: break-word;
    width:50px!important;
    min-height: 20px;
    @include border();
}

.create
{
    float: right;
}

.lock:hover .icon-unlock,
.lock .icon-lock {
display: none;
}
.lock:hover .icon-lock {
display: inline;
}

.label{
    padding: 5px;
}