@import '../../../scss/mixins';
@import '../../../scss/variables';

.container {
  @include container();
}

.classf{
 color:  $typekit-blue;
 @include fontsizeF(); 
}

.classu{
  color:  $typekit-red;
  @include fontsize();
}

.classn{
  color:  $typekit-yellow;
  @include fontsize();
}

.classd{
  color:  $typekit-blue;
  @include fontsize();
}

.classo{
  color:  $typekit-green;
  @include fontsize();
}
.classo1{
  color:  $typekit-red;
  @include fontsize();
}

.width{
  width: 120px;
}

.radius{
  border-radius: 2%;
}

.emailwidth{
  @include emailwidth();
}

.notselected{
  background-color:$typekit-grey;
}

.selected{
  background-color: $typekit-lightgreen;
}

.card1{
    display: flex;
    flex-direction: column;
    width: 150px;
    height:120px;
    border-radius: 15px;
    color:$typekit-white;
    text-transform: uppercase;
}

.servicecards{
    padding:20px;
}