@import '../../../scss/mixins';
@import '../../../scss/variables';

.container {
  @include container();
}

.fundoo_text{
  font-size: 25px;
  color:  #fb0;
}

.width{
  width: 120px;
}

.radius{
  border-radius: 2%;
}

.emailwidth{
  @include emailwidth();
}

.notselected{
  background-color:$typekit-grey;
}

.selected{
  background-color: $typekit-lightgreen;
}





.division{
  height:60px;
  background-color: #fb0;
}

.division1{
  height:150px;
}

.division2{
  height:310px;
}

.division3{
  height:150px;
}

.fundoo{
  margin:10px 0px 5px 50px;
  padding:6px 0px 5px 10px;
  font-size: 25px;
}

.text{
  margin-top:40px;
  font-size: 28px;
  opacity: 0.54;
text-align: center;
}

.selected{
  background-color: #fb0;
}

.notselected{
  background-color: grey;
}

.card1{
  height:180px;
  width:135px;
  margin-left:30px;
}

.innercard{
  margin-left:-35px;
  margin-top:-35px;
  height:200px;
  width:170px;
}

.cartbutton{
  margin-top: 10px;
  border:none;
  outline:none;
  color:white;
  font-size: 12px;
}

.font{
  font-size: 16px;
}

.name{
  color:rgb(81, 104, 209);
  font-size:15px;
}

.list{
  font-size:10px;
  margin-top:10px;
}

.button-row{
  margin-top: 5px;
}