<!------------------Signup starts------------------->

<div fxLayout='row' fxLayoutAlign="center center" fxLayout.xs="column" class="container">
  <form>
    <mat-card fxLayout='column' fxLayoutAlign="center">

      <div>
        <span class="classf">F</span>
        <span class="classu">u</span>
        <span class="classn">n</span>
        <span class="classd">d</span>
        <span class="classo">o</span>
        <span class="classo1">o</span>
      </div>

      <mat-card-title>Create your Fundoo Account</mat-card-title>
      <div fxLayoutAlign="space-between">
        <mat-form-field>
          <input matInput placeholder="Fisrt name" minlength="4" required [(ngModel)]="user.firstName" [formControl]="firstname"
            required>
          <mat-error *ngIf="firstname.invalid">{{getErrorMessagefirstName()}}</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Last name" minlength="4" [(ngModel)]="user.lastName" [formControl]="lastname"
            required>
          <mat-error *ngIf="lastname.invalid">{{getErrorMessagelastName()}}</mat-error>
        </mat-form-field>
      </div>




      <div>

        <mat-form-field class="emailwidth">
          <input matInput placeholder="Email" [formControl]="email" [(ngModel)]="user.email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

      </div>
      <div>

        <mat-form-field class="emailwidth">
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" minlength="5" [(ngModel)]="user.password"
            [formControl]="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </div>
      <p>Services</p>

      <div fxLayout="row" fxLayoutGap="10" fxLayout="row wrap">

        <span *ngFor='let card of cards' class="servicecards">
          <mat-card class="card1" matbutton (click)=respond(card) [ngClass]="card.select ? 'selected' : 'notselected'">
            <mat-card-title>{{card.name}}</mat-card-title>

            <mat-card-content>{{card.description}}</mat-card-content>

          </mat-card>

        </span>

      </div>


      <div class="button-row" fxLayout="row" fxLayoutAlign="space-between">
        <nav>
          <a routerLink="/login">Sign in instead</a>
        </nav>

        <button mat-flat-button (hovered)="onSubmit()" (click)="onSubmit()">Next</button>
      </div>

    </mat-card>
  </form>
</div>

<!------------------Signup ends------------------->