<div fxLayout='row' fxLayoutAlign="center center" fxLayout.xs="column" class="container">
  <form>
    <mat-card fxLayout='column' fxLayoutAlign="center">
      <div fxLayoutAlign="center">
        <span class="classf">F</span>
        <span class="classu">u</span>
        <span class="classn">n</span>
        <span class="classd">d</span>
        <span class="classo">o</span>
        <span class="classo1">o</span>
      </div>
      <mat-card-title fxLayoutAlign="center">Forgot password</mat-card-title>
      <div>
        <mat-form-field class="emailwidth">
          <input matInput class="emailwidth" placeholder="Enter your email" 
            [formControl]="email" [(ngModel)]="temp.email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="button-row" fxLayout="row" fxLayoutAlign="end">
        <button mat-flat-button (click)="resetPassword()">Next</button>
      </div>
    </mat-card>
  </form>
</div>