.container {
    height: 90vh;
}

.classf{
  color: darkblue;
  font-size: 40px; 
 }
 .classu{
   color: red;
   font-size: 30px;
 }
 .classn{
   color: yellow;
   font-size: 30px;
 }
 .classd{
   color: darkblue;
   font-size: 30px;
 }
 .classo{
   color: green;
   font-size: 30px;
 }
 .classo1{
   color: red;
   font-size: 30px;
 }
 
 .emailwidth{
    width: 100%;
  }
  
.mat-card{
  width: 400px;
}