
  <mat-card fxFlex *ngIf="!show" class="example-card" 
    [ngStyle]="{'background-color':data.color}" 
    style=" width:50%; ;position: relative;padding: 5; border-radius: 10px">
  
    <mat-card-content>
      <div fxLayout='row' fxLayout.xs='row'>
        <div fxFlex=98 contenteditable="true" [innerHTML]="data.title"   data-text=""
         class="cards" id="newTitle"></div>
        <!-- <div fxFlex matTooltip="Pin note"><img src="../../../assets/images/pin.svg">
        </div> -->
      </div>

      <div style="margin-top:20px" contenteditable="true" [innerHTML]="data.description" 
      data-text="" class="cards" id="newDescription">{{data.description}}</div>
    </mat-card-content>

    <div fxLayout="row wrap">
      <div *ngFor="let items of data.noteLabels" >
      <mat-chip-list selected>
      <mat-chip *ngIf="items.isDeleted==false">{{items.label}}
        <mat-icon (click)="removeLabel(items.id)" class="removeicon">cancel</mat-icon>
      </mat-chip>
      </mat-chip-list>
    </div>
    </div>

    <mat-card-actions>
      <div fxLayout='row' fxLayout.xs='row'>
        <div fxFlex=9>
          <app-remindme-icon></app-remindme-icon>
        </div>
        <div fxFlex=9>
          <app-collaborator-icon></app-collaborator-icon>
        </div>
        <div fxFlex=9>
          <app-change-color-icon></app-change-color-icon>
        </div>
        <div fxFlex=9>
          <app-add-image-icon></app-add-image-icon>
        </div>
        <div fxFlex=9>
          <app-archive-icon [archive]="data"></app-archive-icon>
        </div>
        <div fxFlex=40>
          <app-more-icon  [notesArray]="data" (addedLabel)="getNotification($event)">
          </app-more-icon>
        </div>
        <div fxFlex>

          <button mat-button (click)="onNoClick()">Close</button>
        </div>
      </div>
    </mat-card-actions>
  
  </mat-card>