@import '../../../scss/mixins';

.width
{
    width:60%;
}

.fullWidth
{
    width: 100%;
}

.text
{
    @include border();
    word-wrap: break-word;
    background:transparent;
}

[contentEditable=true]:empty:before{
    content: attr(data-text)
}

.icons{
    margin-left: 10%;
}

.cards{
    @include border();
}

::ng-deep.mat-dialog-container{
    display: block;
}

.note{
    @include border();  
}

.dialog-card{
     width:50%;
     position: relative;
     padding: 5; 
     border-radius: 10px
}

.description{
    margin-top:20px;
}