$typekit-yellow: #fb0;
$typekit-white: #ffffff;
$typekit-black: #000000;
$typekit-red: #ff0000;
$typekit-green: #008000;
$typekit-blue: #0000ff;
$typekit-grey: #808080;
$typekit-light: #cccccc;
$typekit-lightgreen:rgba(142, 235, 88, 0.849)