
<div >
  <div fxFlex=10>

  </div>
  <div fxLayoutAlign="center center" fxFlex fxLayout="row wrap" fxLayoutWrap fxLayout.xs="column"
   fxLayout.sm="column" fxLayoutGap="20px"
    style="height:auto;width:20px;margin-top: 30px">

    <mat-card  [ngClass]="{'grid': toggle,'list': !toggle}" class="example-card"
     *ngFor="let notes of array | LockFilter:searchBar"
     [ngStyle]="{'background-color':notes.color}">
     
        <div (click)="update(notes)">
          <mat-card-header>
            <mat-card-title>
              <div contenteditable="false" dir="ltr" aria-multiline="true" 
              [innerHTML]="notes.title" role="textbox">{{notes.title}}</div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="content">
            <div contenteditable="false" aria-multiline="true" role="textbox" 
            [innerHTML]="notes.description"> {{notes.description}}
            </div>
          </mat-card-content>
        </div>

         
        <div class="note" *ngFor="let checklist of notes.noteCheckLists" fxLayout="row" > 
            <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" 
            (click)=checkBox(checklist,notes.id)></mat-checkbox>
            <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
            [(ngModel)]=checklist.itemName fxFlex="90%" class="note"
               [ngStyle]="{'background-color':notes.color}">
           </div>
          
            <div class="note" *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
            <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted"
             (click)=checkBox(checklist,notes.id)></mat-checkbox>
            <del *ngIf="!checklist.isDeleted && checklist.status=='close'"
             >{{checklist.itemName}}</del>
          </div>
 




        <!-- <mat-card-content class="note" *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
            <mat-checkbox fxFlex="10%" checked=true ></mat-checkbox>
            <div>{{checklist.itemName}}</div>
        </mat-card-content>
         -->

        <!-- **************adding and Removeing labels************** -->

        <div fxLayout="row wrap">
          <div *ngFor="let items of notes.noteLabels">
            <mat-chip-list selected>
              <mat-chip *ngIf='items.isDeleted == false'>{{items.label}}
                <mat-icon (click)="removeLabel(notes.id,items.id)" class="removeicon">
                cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
 
        <div style="padding-top:5px"></div>

        <div fxLayout="row wrap">
          <div *ngFor="let items of notes.reminder">
            <mat-chip-list selected>
              <mat-chip >
                {{items | date:'medium'}}
                <mat-icon (click)="removeReminder(notes.id)" class="removeicon">
                    cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <mat-card-actions>
          <div class="icons" fxLayoutAlign="space-between">
            <app-remindme-icon [reminders]="notes" (addReminderEvent)="addReminder($event)"></app-remindme-icon>
            <app-collaborator-icon></app-collaborator-icon>
            <app-change-color-icon [notesArray]="notes.id" (noteColor)=messageColor($event)>
            </app-change-color-icon>
            <app-add-image-icon></app-add-image-icon>
            <app-archive-icon [archive]="notes" (archiveNote)="myArchiveNotes($event)" 
            (unArchiveNote)="unArchive($event)"></app-archive-icon>
            <app-more-icon [notesArray]="notes" [name]="name" 
            (deleteNote)="getNotification($event)" (trashEvent)="trashFunc($event)" 
            (restoreEvent)="restoreFunc($event)"></app-more-icon>
          </div>
        </mat-card-actions>
     
    </mat-card>

  </div>


  <div fxFlex=10>

  </div>
</div>




