@import '../../../scss/mixins';

.example-card {
  margin: 10px;
  height: auto;
  width: 200px;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px){
  .example-card {
    margin: 10px;
    height: auto;
    width: 500px;
    border-radius: 10px;
  }
}

mat-card-title {
  word-wrap: break-word;
  font-family: cursive;
  font-weight: bolder;
  width: 200px;
}

mat-card-content {
  width: 200px;
  word-wrap: break-word;
}

.icons {
  opacity: 0;
  margin-top: 15px;
  &:hover {
    opacity: 1;
  }
}

.removeicon {
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.grid {
  width: 650px;
}

.list {
  min-width: 200px;
}

.note {
  @include border();
  margin-left: 20px;
}

.flow {
  @include overflowhidden();
  width: 50px;
}

.notescard{
  height:auto;
  width:20px;
  margin-top: 30px;
}

.cardname{
  width:100%;
}

.pin{
  @include floatr();
}

.space{
  padding-top:5px;
}

.reminder{
  margin-top:15px;
}

.remindericon{
  opacity:0;
}